
# create an empty data archive to initialize the data partition
image data.tgz {
	tar { }
}


image switch.vfat {
    vfat {
        file update { image = "../../update" }
        file data   { image = "data.tgz" }
    }
    name = switch
    size = 240M
}


image @IMAGE@ {
    hdimage { 
        align = 1M
    }
    partition boot {
        image = boot.vfat
        partition-type = 0xEF
        bootable = true
    }
    partition switch {
        image = switch.vfat
        partition-type = 0x0C
    }
    partition root {
        size = 512M
        partition-type = 0x83
    }
}
