[Unit]
After=network.target
ConditionPathExists=/sys/class/net/syswlan
ConditionPathExists=/etc/hostapd.conf.d/local.conf

[Service]
RuntimeDirectory=hostapd
ExecStartPre=-/usr/bin/sh -c 'cat /etc/hostapd.conf /etc/hostapd.conf.d/*.conf > /run/hostapd/hostapd.conf'
ExecStart=/usr/sbin/hostapd -i syswlan /run/hostapd/hostapd.conf

[Install]
WantedBy=multi-user.target
