[Service]
Type=oneshot
ExecStart=/bin/sh -c '[ "$(du -sm /var/log/journal/ | cut -f1)" -gt "512" ] && ls -1t /var/log/journal/*/*@* | tail -n1 | xargs -tr rm -f'
