[Unit]
After=network.target

[Service]
ExecStartPre=/bin/sleep 10
ExecStart=/usr/bin/python -B -u /usr/sbin/mc-state mc 33000

Restart=always
RestartSec=10
StartLimitInterval=0
