[Unit]
After=network.target

[Service]
#Type=oneshot
ExecStartPre=/bin/sleep 5
ExecStart=/usr/bin/mc-update

Restart=on-failure
RestartSec=10
StartLimitInterval=0
